<template>
  <el-tiptap 
  :style="{
    'height': `${filterSectionHeight}px`
  }"
  :menu-bubble-options="{ 'keep-in-bounds': false }"

  :extensions="extensions" 
  :content="content" 
  placeholder="Write something ..."
  @onInit="onInitEvent"
  @onUpdate="onUpdateEvent"
  />
</template>

<script>
  import {
  // all extensions
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Link,
  Image,
  Blockquote,
  ListItem,
  BulletList, // use with ListItem
  OrderedList, // use with ListItem
  TodoItem,
  TodoList, // use with TodoItem
  TextAlign,
  Indent,
  HorizontalRule,
  HardBreak,
  History,
  LineHeight,
  Iframe,
  CodeBlock,
  TrailingNode,
   Table, // use with TableHeader, TableCell, TableRow
   TableHeader,
   TableCell,
   TableRow,
   FormatClear,
   TextColor,
   TextHighlight,
   Preview,
   Print,
   Fullscreen,
   CodeView
  // SelectAll,
} from "element-tiptap";





import codemirror from "codemirror";
import "codemirror/lib/codemirror.css"; 
import "codemirror/mode/xml/xml.js"; 
import "codemirror/addon/selection/active-line.js"; 
import "codemirror/addon/edit/closetag.js"; 
import axios from 'axios';





async function upload(file) {

 let formData = new FormData();
 formData.append('file', file);
 const headers = {'Content-Type': 'multipart/form-data'};
 const response = await axios.post('/elements-tiptap-upload', formData, {headers: headers} );
 //console.log(response);
 return response.data.src;


}





export default {
 props: ['wid'],
 name: "Editor",

 data: () => ({

  height: document.getElementById('Form-field-Post-content-group').offsetHeight-4,
  extensions: [
  new Doc(),
  new Text(),
  new Paragraph(),
  new Heading({ level: 5 }),
  new Bold({ bubble: true }),
  new Underline({ bubble: true }),
  new Italic({ bubble: true }),
  new Strike({ bubble: true }),
  new Link({ bubble: true }),

    //new Image(),
    // new Image(null, null, upload),
    new Image({
      urlPattern: /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/,
      uploadRequest: upload
    }),


    new Blockquote(),
    new TextAlign(),
    new ListItem(),
    new BulletList({ bubble: true }),
    new OrderedList({ bubble: true }),
    new TodoItem(),
    new TodoList(),
    new Indent(),

    new  LineHeight(),
    new  Iframe(),
    new  CodeBlock(),
    new  TrailingNode(),
    new  Table(),
    new  TableHeader(),
    new  TableCell(),
    new  TableRow(),
    new  FormatClear(),
    new  TextColor(),
    new  TextHighlight(),
    new  Preview(),
    new  Print(),

    new HardBreak(),
    new HorizontalRule({ bubble: true }),
    new Fullscreen(),
    new CodeView({
      codemirror,
      codemirrorOptions: {
        styleActiveLine: true,
        autoCloseTags: true
      }
    }),
    new History()
    ],

    //content: document.getElementById(document.getElementById('input-id').getAttribute('input-id')).value
    content: ''
    
  }),

 computed: {
  filterSectionHeight() {


    return this.height;

  },
},

methods: {
  onInitEvent () {
    

    this.content = document.getElementById(this.wid.query.value).value;

      //console.log('?init');
    },
    onUpdateEvent (output, options) {

      const { getHTML } = options;
      //document.getElementById(document.getElementById('input-id').getAttribute('input-id')).value = getHTML();
      document.getElementById(this.wid.query.value).value = getHTML();
    },
  },
  mounted: function(){

    //console.log(this.wid.query.value);


    var app = this;
    setInterval(function(){
      app.height = document.getElementById('Form-field-Post-content-group').offsetHeight-4;
    }, 10);
  }




};
</script>
