<template>
  <div v-bind:id="query.value + '-editor'" class="elements-tiptap-editor">
    <Editor
    v-bind:wid={query}
    />
  </div>
</template>

<script>
import Editor from "./components/Editor";

export default {
  props: ['query'],
  name: "App",
  components: {
    Editor
  },
   mounted: function(){
    //console.log('app mount', this.query.value);
   }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  
}
